@import '@kungfu-trader/kungfu-app/src/renderer/assets/less/variables.less';

.animated-element {
  transform: translateZ(0); /* 触发硬件加速 */
  will-change: transform; /* 提前告知浏览器该元素将变化 */
}

.kf-translateZ {
  position: relative;
  transform: translateZ(0);
}

.kf-actions__warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 8px;

  .anticon {
    margin: 4px 0 4px 16px;

    &:hover {
      color: @primary-color;
      cursor: pointer;
    }
  }
}

.kf-table {
  height: 100%;
  width: 100%;

  .kf-table-body {
    .current-global-kfLocation {
      background: @tooltip-bg;
    }
  }
}

.kf-hover {
  &:hover {
    color: @primary-color;
    cursor: pointer;
  }
}

.kf-message {
  .ant-message-notice-content {
    box-sizing: border-box;
    margin: 0;
    color: rgba(255, 255, 255, 0.85);
    font-size: 12px;
    line-height: 24px;
    list-style: none;
    padding: 12px 18px;
    word-wrap: break-word;
    border-radius: 4px;
    background-color: #424242;

    div {
      display: inline-flex;
      align-items: center;

      span {
        max-width: 360px;
      }

      .anticon {
        font-size: 18px;
      }
    }
  }

  &.kf-message-success > .ant-message-notice-content {
    .anticon {
      color: #60cd2a;
    }
  }

  &.kf-message-error > .ant-message-notice-content {
    .anticon {
      color: #f6615f;
    }
  }

  &.kf-message-warning > .ant-message-notice-content {
    .anticon {
      color: #e09c15;
    }
  }

  &.kf-message-info > .ant-message-notice-content {
    .anticon {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

.keyframes(@name, @rules) {
  @-webkit-keyframes @name {
    @rules();
  }

  @-moz-keyframes @name {
    @rules();
  }

  @-ms-keyframes @name {
    @rules();
  }

  @-o-keyframes @name {
    @rules();
  }

  @keyframes @name {
    @rules();
  }
}

body {
  .keyframes(KfStatusRunning, {
    0% {
      width: 6px;
      height: 6px;
      box-shadow: 0 0 0;
    }

    100% {
      width: 10px;
      height: 10px;
      box-shadow: 0 0 6px @primary-color;
    }
  }

);

  .keyframes(KfStatusWaiting, {
    0% {
      width: 6px;
      height: 6px;
      box-shadow: 0 0 0;
    }

    100% {
      width: 10px;
      height: 10px;
      box-shadow: 0 0 6px fade(@white, 50%);
    }
  }

);
}

.kf-img-dot {
  width: 6px;
  height: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-right: 6px;
}

.kf-dot {
  width: 6px;
  height: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;

  &.kf-color-running {
    background: @primary-color;

    &.kf-dot-wave {
      &::after {
        border: 1px solid @primary-color;
        animation: KfStatusRunning 1s infinite ease-in-out;
      }
    }
  }

  &.kf-color-waiting {
    background: fade(@white, 50%);

    &.kf-dot-wave {
      &::after {
        border: 1px solid fade(@white, 50%);
        animation: KfStatusWaiting 1s infinite ease-in-out;
      }
    }
  }

  &.kf-color-error {
    background: @red-6;
  }

  &.kf-dot-wave {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      content: '';
    }
  }
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-default {
  color: fade(@white, 50%);
}

.color-primary {
  color: @primary-color;
}

.color-orange {
  color: @orange-6;
}

.color-yellow {
  color: @yellow-6;
}

.color-pink {
  color: @pink-6;
}

.color-red {
  color: lighten(@red2-base, 10%);
}

.color-blue {
  color: @blue-6;
}

.color-purple {
  color: @purple-6;
}

.color-cyan {
  color: @cyan-6;
}

.color-green {
  color: @green2-base;
}

.color-gray {
  color: @text-color-secondary;
}

.color-text {
  color: @text-color;
}

.keyframes (@prefix, @name, @content) when (@prefix=def) {
  @keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=moz) {
  @-moz-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=o) {
  @-o-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=webkit) {
  @-webkit-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=all) {
  .keyframes(moz, @name, @content);
  .keyframes(o, @name, @content);
  .keyframes(webkit, @name, @content);
  .keyframes(def, @name, @content);
}

body {
  .keyframes(nanoRedBlink, {
      0% {
        background: none;
      }
  
      50% {
        background: @red-6;
        color: #fff;
      }
  
      100% {
        background: none;
      }
    }
  );

  .keyframes(nanoGreenBlink, {
      0% {
        background: none;
      }
  
      50% {
        background: @green-6;
        color: #fff;
      }
  
      100% {
        background: none;
      }
    }
  );

  .keyframes(nanoRedColorBlink, {
      0% {
        color: @red-6;
      }

      50% {
        color: @red-8;
      }

      100% {
        color: @red-6;
      }
    }
  );

  .keyframes(nanoGreenColorBlink, {
      0% {
        color: @green-6;
      }

      50% {
        color: @green-8;
      }

      100% {
        color: @green-6;
      }
    }
  );
}

.ant-btn-dangerous.ant-btn-primary {
  background: @red-6;
  border-color: @red-6;
}

.trading-data-detail__warp {
  user-select: text;
  padding-top: 8px;

  .trading-data-detail-row {
    word-break: break-all;

    .label,
    .value {
      display: inline-block;
      font-size: 14px;
    }

    .label {
      color: @text-color-secondary;
      padding-right: 8px;
    }
  }
}

.kf-markdown__wrap {
  width: 100%;
  font-size: 14px !important;
  line-height: 24px !important;
  word-break: break-all;
  white-space: initial;
  font-family: inherit !important;
  user-select: text;

  code {
    font-family: Menlo, Font4-CascadiaCode, Font1-Source_Han_Sans_SC, sans-serif,
      'Courier New', monospace !important;
    padding: 2px 6px !important;
  }

  pre {
    padding: 8px !important;
    background-color: #191919 !important;
  }

  &.markdown-body {
    background-color: inherit !important;

    ul,
    ol {
      list-style-type: revert;
    }

    table {
      td,
      th {
        border: 1px solid #383838 !important;
      }

      tr {
        background-color: #181818 !important;

        &:nth-child(2n) {
          background-color: #222 !important;
        }
      }
    }

    .kf-md-checkbox {
      input[type='checkbox'] {
        display: none;
      }

      label::before {
        content: '';
        display: inline-block;
        text-align: center;
        line-height: 8px;
        height: 14px;
        width: 14px;
        margin-right: 8px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 2px;
        position: relative;
        top: 2px;
      }

      input:checked + label::before {
        content: '\2714';
        color: #fff;
        background-color: #faad14;
        border: 1px solid #faad14;
        top: 0px;
      }
    }
  }
}

.kf-mark {
  padding: 0;
  background-color: fade(@white, 70%);
  color: #000;

  &.kf-mark-current {
    background-color: @primary-color;
    color: #fff;
  }
}

.kf-highlight-outline {
  outline: 1px solid @primary-color !important;
  outline-offset: -4px !important;
  transition: outline-color 1s ease-out;
}
